/*Kelsey Ann Kimura: Login CSS*/
/*This is the css for the login page*/

form {
    display: inline-block;
    background-color: ivory;
    border: black;
    border-style: solid;
    border-width: 5px;

}
body{
    font-family:'Open Sans',sans-serif; /*font is Open-Sans*/
}